.class_PiroDiv{   
 	background-color:#f4f4f4;
    border:1px solid #c0c0c0;
    opacity: 0.7;
    position: absolute;
    padding:10px;
    padding-top:0px;
    width:20%;
    top:100px;
    right:20px;
}

.class_PiroDivPanel{
    top:101px;
    right:260px; 
}

.class_PiroDivPanelEfectos{
    	top:163px;
		right:260px;
}

.class_PiroDivPanelCadencia{
    	top:196px;
		right:260px;
}

.class_PiroDivPanelLineas{
    	top:226px;
		right:260px;
}

.class_PiroDivPanelViewer{
    	top:259px;
		right:260px;
}

.class_PiroDivPanelTimeline{
    	top:290px;
		right:260px;
}

.class_PiroDivPanelTag{
    top:321px;
    right:260px; 
}
